.btn {
  border: none;
  outline: none;
  border-radius: 0.6rem;
  padding: 2rem;
  width: 100%;
  &:active {
    transform: scale(0.98);
  }
}
.btn-green {
  background: $primary_green;
  color: #fff;
  font-size: $fontSize - 0.3;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 0.5rem 0.5rem hsl(154, 76%, 37%);
}
